.hidden {display: none;}
.display-inherit {display: inherit;}
.display-inline {display: inline;}
.display-block {display: block;}
.pointer{cursor:pointer}
.scroll{overflow: scroll}
#message{
  height:400px;
  overflow:scroll;
}
